
@{
    ViewData["Title"] = "GetCollectionInfo";
}

@model CloudJ.Contracts.DTOs.CollectionDtos.CollectionDto
@using CloudJ.Contracts.DTOs.SolutionDtos.Solution

<div class="container">
    <div class="row">
        <p class="col-lg-12 db">@Model.Name</p>
       
    </div>
    <div class="row">
        <div class="col-lg-9 selection-bottom-text">
            
            @Model.Description

        </div>



        <div class="col-lg-3">



            @foreach(SolutionDto s in ViewBag.Solutions){
            <div class="row">
                <div class="col-lg-12 product">
                    <div class="media">
                        <div class="media-body">
                            <h5 class="mt-3 mb-1 product__h5">@s.Name</h5>
                        </div>
                        @*<img src="~/img/Large.png" class="mt-3 product__img" alt="Large">*@
                        @{
                            byte[] logo = s.Photos.Where(p => p.Type.Equals("Logo")).FirstOrDefault()?.Data;
                        }
                        @if (logo != null)
                        {
                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(logo)" style="width: 40px" class="mt-1 product__img" alt="Large">
                        }
                        else
                        {
                            <img src="~/img/DB.png" style="width: 40px" class="mt-1 product__img" alt="Large">

                        }
                    </div>
                    <p class="product__p" style="word-break: break-all;">
                        @if (s.Description.Length > 150)
                        {
                            @Html.Raw(s.Description.Substring(0, 150) + "...").ToString()
                        }
                        else
                        {
                            @Html.Raw(s.Description).ToString()
                        }
                    </p>
                    <p class="product__p">Рейтинг: @s.Rate.0</p>

                    @if (s.Plans.Any())
                    {
                        <p class="product__p">Стоимость: от @s.Plans?.FirstOrDefault()?.Price р.</p>
                    }
                    <a href="page_product.html" class="buy">Получить</a>

                </div>
            </div>
            }

        </div>    </div>

</div>
    </div>
