
@{
    ViewData["Title"] = "MarketPlace";
}

@using CloudJ.Contracts.DTOs.SolutionDtos.Category
@using CloudJ.Contracts.DTOs.SolutionDtos.Solution

    <section id="intro" class="intro intro__marg">
        <div class="container">

            <div class="row">
                <div class="col-lg-3">
                    <h5>Баланс: @ViewBag.Balance р.</h5>
                    @foreach (CategoryDto c in ViewBag.Categories)
                    {
                        if (c.ParentCategory == null)
                        {
                            <button type="button" class="btn btn-outline-primary rounded-0">@c.Name</button>
                        }
                    }


                </div>
                <div class="col-lg-9">
                    <div class="row">




                        @foreach (SolutionDto s in ViewBag.Solutions)
                        {
                            <div class="col-lg-3 product " style="height: 300px">
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="mt-1 mb-1 product__h5"><a href="~/Product/@s.Id">@s.Name</a></h5>
                                    </div>

                                    @{
                                        byte[] logo = s.Photos.Where(p => p.Type.Equals("Logo")).FirstOrDefault()?.Data;
                                    }
                                    @if (logo != null)
                                    {
                                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(logo)" style="width: 40px" class="mt-1 product__img" alt="Large">
                                    }
                                    else
                                    {
                                        <img src="~/img/DB.png" style="width: 40px" class="mt-1 product__img" alt="Large">

                                    }
                                </div>
                                <p class="product__p">
                                    @if (s.Description.Length > 150)
                                    {
                                        @Html.Raw(s.Description.Substring(0,150) + "...").ToString()
                                    }
                                    else
                                    {
                                        @Html.Raw(s.Description).ToString()
                                    }
                                </p>
                                
                                <p class="product__p">Рейтинг: @s.Rate.0</p>

                                <a href="~/Product/@s.Id" class="buy" style="display:block; position:absolute; bottom: 0; margin-bottom:10px;">Получить</a>

                            </div>

                        }








                    </div>
                    <div class="page-mr">
                        <ul class="pagination pagination-sm">
                            <li class="page-item disabled">
                                <a class="page-link" href="#">&laquo;</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">4</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">5</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

