
@{
    ViewData["Title"] = "GetSolutionById";
}
@using CloudJ.Contracts.DTOs.SolutionDtos.Review
@using CloudJ.Contracts.DTOs.SolutionDtos.Plan
@using CloudJ.Contracts.DTOs.SolutionDtos.Solution
@model CloudJ.Contracts.DTOs.SolutionDtos.Solution.SolutionDto

    <section class="intro intro__marg">
        <div class="container">

            <div class="row">
                <div class="col-lg-2">

                    @{
                        byte[] logo = Model.Photos.Where(p => p.Type.Equals("Logo")).FirstOrDefault()?.Data;
                    }
                    @if (logo != null)
                    {
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(logo)"  class="mt-1 product__img" alt="Large">
                    }
                    else
                    {
                        <img src="~/img/DB.png"  class="mt-1 product__img" alt="Large">

                    }


                    
                    <button type="button" class="btn btn-primary mt-3 rounded-0">Получить</button>
                    <button type="button" class="btn btn-outline-primary rounded-0">В избранное</button>
                    <p>
                        <b>Категории</b>
                        <br>

                        <a href="marketplace.html">@Model.Category.Name</a>
                        @if (Model.SolutionLinks.Length > 0)
                        {


                            <br>
                            <b>Ссылки</b>
                            <br />
                            @foreach (SolutionLinkDto l in Model.SolutionLinks)
                            {
                                <a href="@l.Url">@l.Name</a>
                                <br />
                            }
                        }
                    </p>
                </div>
                <div class="col-lg-10">
                    <h1>@Model.Name</h1>
                   
                    <div class="row">
                        <p>Рейтинг: @Model.Rate.0</p>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#view">Обзор</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#comment">Отзывы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#plan">Планы</a>
                        </li>

                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active show" id="view">
                            
                            <p>
                                @Model.Description
                            </p>
                        </div>
                        <div class="tab-pane fade" id="comment">


                            <form method="post" asp-controller="Product" asp-action="AddReview">

                                <fieldset>
                                    <input hidden="true" name="SolutionId" value="@Model.Id" />
                                    <div class="form-group">
                                        <h6>Оценка: </h6>
                                        <input name="Rate" type="number" id="solrate" asp-for="Rate"
                                               min="0" max="5">

                                    </div>
                                    <div class="form-group">
                                        <label for="exampleTextarea">Отзыв</label>
                                        <textarea name="Text" class="form-control" id="exampleTextarea" rows="3"></textarea>
                                    </div>

                                </fieldset>

                                <div class="row mt-1">
                                    <div class="col-lg-3">
                                        <button type="submit" class="btn btn-primary rounded-0"
                                                style="margin-bottom: 30px;">
                                            Добавить
                                        </button>
                                    </div>


                                </div>
                            </form>




                            @foreach (ReviewDto r in Model.Reviews)
                            {
                                <hr />
                                




                                <div class="row" style="margin-bottom: 10px;">
                                    <div class="col-3">
                                        <div class="row">
                                            <p class="col-2-otzuv">Оценил на @r.Rate.0</p>
                                            <p class="col-2-otzuv">@r.PostedTime.ToString()</p>
                                            <p class="col-2-otzuv">Пользователь CloudJ</p>
                                        </div>
                                    </div>
                                    <div class="col" style="word-break: break-all;">
                                        <p class="tab-pane-p" style="margin-top:-12px;">@r.AuthorId</p>
                                        <p class="tab-pane-p-2">
                                            @r.Text
                                        </p>
                                    </div>
                                </div>



                            }


                        </div>
                        <div class="tab-pane fade active" id="plan">
                            @foreach (PlanDto p in Model.Plans)
                            {
                            <div class="row col__plan align-items-center">
                                <div class="col-lg-2 plan__p">@p.Name</div>
                                <div class="col-lg-2 plan__p">@p.Time</div>
                                <div class="col-lg-2 ml-auto plan__p">@p.Price</div>
                                <div class="col-lg-2">
                                    <button type="button" class="btn btn-primary rounded-0 plan__btn">Получить</button>
                                </div>
                            </div>
                            }
                            

                        </div>
                    
                </div>
            </div>
        </div>
    </section>

