@using IdentityServer.Objects;
@model IEnumerable<UserViewModel>
@{
    ViewData["Title"] = "AdminPanel";
}

<h1>Users Panel</h1>
@using Microsoft.AspNetCore.Authentication

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Username</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.Username</td>
                <td><a class="btn btn-primary" href="~/Account/EditUser/@user.Id" role="button">Edit</a></td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" href="~/Account/CreateUser" role="button">Add new user</a>


@*@{
    var props = (await Context.AuthenticateAsync()).Properties.Items;
}

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>

<h2>Properties</h2>

<dl>
    @foreach (var (key, value) in props)
    {
        <dt>@key</dt>
        <dd>@value</dd>
    }
</dl>*@
