@{

    string Name = User.Claims?.Where(x => x.Type.Equals("name")).FirstOrDefault()?.Value ?? "";
    string Role = User.Claims?.Where(x => x.Type.Contains("role")).FirstOrDefault()?.Value ?? "";
    bool IsAuthenticated = Context.User.Identity.IsAuthenticated;

}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CloudJ.Client</title>
    <link rel="stylesheet" href="css/admin_panel.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/css/credit.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/imask/3.4.0/imask.min.js"></script>
    <script src="~/js/credit.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Rock+Salt|Source+Code+Pro:300,400,600" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link type="text/css" rel="StyleSheet" href="http://bootstraptema.ru/plugins/2016/shieldui/style.css" />
    <script src="http://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="http://bootstraptema.ru/plugins/2016/shieldui/script.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="~/js/jquery-1.8.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.liTextLength.js"></script>



    <link rel="stylesheet" href="~/css/style.css">
    <style>
        @@media screen and (max-width: 992px){
.logo {
display: block;
margin: 0 auto;
margin-bottom: 30px;
}
}
@@media screen and (max-width: 576px) {
.menu {
flex-direction: column;
}
.menu__item {
text-align: center;
margin-bottom:10px;
}
}
    </style>
</head>
<body>
    <header id="header" class="header back">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <img src="~/img/logo.png" alt="cloudj" class="logo">
                </div>
                <div class="col-lg-10 ml-auto">
                    <nav>
                        <ul class="menu d-flex justify-content-center">
                            <li class="menu__item">
                                <a asp-controller="Home" asp-action="Index">Обзор</a>
                            </li>
                            <li class="menu__item">
                                <a asp-controller="Home" asp-action="Category">Категории</a>
                            </li>
                            <li class="menu__item">
                                <a asp-controller="Home" asp-action="MarketPlace">MarketPlace</a>
                            </li>
                            <li class="menu__item">
                                <a asp-controller="Home" asp-action="Support">Поддержка</a>
                            </li>
                            <li class="menu__item">
                                <a asp-controller="Home" asp-action="Collection">Коллекции</a>
                            </li>
                            @if (IsAuthenticated)
                            {
                                @*<li class="menu__item">
                <a asp-controller="Home" asp-action="Login">@Name</a>
            </li>
            <a asp-controller="Home" asp-action="Logout"> ВЫЙТИ</a>*@
                                <div class="col-lg-4 ml-auto">
                                    <nav>
                                        <ul class="menu d-flex">
                                            <li class="menu__item"></li>

                                            <li class="menu__item dropdown">
                                                <a class="dropdown-toggler" data-toggle="dropdown" href="#" role="button"
                                                   aria-haspopup="true" aria-expanded="false">@Name</a>
                                                <div class="dropdown-menu dropdown__style">
                                                    <a class="dropdown-item" asp-controller="Home" asp-action="Login" style="color: black;">Личный кабинет</a>

                                                    <p class="dropdown-item">
                                                        <a asp-controller="Store" asp-action="UpBalance"
                                                           style="color: dodgerblue">Пополнить</a>
                                                    </p>

                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" asp-controller="Home" asp-action="Logout" style="color: black;">Выйти</a>
                                                </div>
                                            </li>

                                        </ul>
                                    </nav>
                                </div>
                            }
                            else
                            {
                                <li class="menu__item">
                                    <a asp-controller="Home" asp-action="Login">Войти</a>
                                </li>
                            }

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer id="footer" class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <ul>
                        <li>
                            <a href="#"><img src="~/img/vk.png">Вконтакте</a>
                        </li>
                        <li> <a href="#"><img src="~/img/fb.png">Facebook</a></li>
                        <li> <a href="#"><img src="~/img/ok.png">OK.ru</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <ul>
                        <li><a href="#">Продукты</a></li>
                        <li><a href="#">Документация</a></li>
                        <li><a href="#">Примеры</a></li>
                        <li><a href="#">Связаться с нами</a></li>
                        <li><a href="#">Пользовательское соглашение</a></li>
                        <li><a href="#">Поддержка</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 ml-auto">
                    <img src="~/img/CloudJlogo.png" alt="CloudJlogo">
                </div>
            </div>
        </div>
    </footer>


    @RenderSection("Scripts", required: false)
</body>
</html>
